/*.btn-primary {
  text-decoration: none;
  background: $or;
  border: 1px solid $or;
  color: $white;
  padding: 15px 30px;
  display: inline-block;
  @include transition(0.5s);
  margin: 20px 0;

  &:hover{
    background: none;
    border: 1px solid $or;
    color: $or;
  }

  &::before{
    content: none;
  }
}


.btn-second{
  text-decoration: none;
  background: transparent;
  border: 1px solid $or;
  color: $or;
  padding: 15px 30px;
  display: inline-block;
  @include transition(0.5s);
  margin: 20px 0;

  &:hover{
    background: $or;
    border: 1px solid transparent;
    color: $white;
  }

  &::before{
    content: none;
  }
}*/


.btn-second {
    border: 1px solid $or;
    color:$or;
    @include transition(0.3s, ease-out);
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 20px 0;

    &:hover:after,
     &:focus:after,
     &:active:after {
       width: 100%;
       opacity: 1;
     }

    &:after {
      content: '';
      background: $or;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0%;
      left: 50%;
      right: 50%;
      transform: translateX(-50%) translateY(0);
      @include transition(0.3s, ease-out);
      z-index: -1;
      opacity: 0;
    }

    &:hover{
      color: $white;
    }
}


.btn-primary {
    border: 1px solid $or;
    color:$white;
    @include transition(0.5s, ease-in);
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 20px 0;

    &:hover:after,
     &:focus:after,
     &:active:after,
     &:hover:before,
      &:focus:before,
      &:active:before,{
       width: 0%;
       opacity: 0;
     }

    &:after {
      content: '';
      background-color: $or;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      right: 0;
      @include transition(0.5s, ease-out);
      overflow: hidden;
      z-index: -1;
      opacity: 1;
      }

    &::before{
      content: '';
      background-color: $or;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      left: 0;
      @include transition(0.5s, ease-out);
      overflow: hidden;
      z-index: -1;
      opacity: 1;
    }

    &:hover{
      color: $or;
    }

}
