.btn-primary {
  background: $or;
  border: 1px solid $or;
  color: $white;
  padding: 15px 30px;
  display: inline-block;
  transition:0.5s;
  margin: 20px 0;

  &:hover{
    background: none;
    border: 1px solid $or;
    color: $or;
  }

  &::before{
    content: none;
  }
}


.btn-second{
  background: transparent;
  border: 1px solid $or;
  color: $or;
  padding: 15px 30px;
  display: inline-block;
  transition:0.5s;
  margin: 20px 0;

  &:hover{
    background: $or;
    border: 1px solid transparent;
    color: $white;
  }

  &::before{
    content: none;
  }
}
