.testimonial-item.equal-height.style-6 {
    margin: 10px;
    height: auto!important;
    text-align: center;
    background: $white;
    margin-top: 35px;

    .cell-right {
        text-align: center;
        padding-top: 35px;

        .testimonial-name h3{
          @include font(600);
          margin: 0;
          font-size: 16px;
        }

        .testimonial-job h4{
          @include font(200);
          margin: 0;
        }
    }

    .testimonial-content.quote {
        padding: 20px 55px;
    }

    &::before{
    content:'';
    background-image: url(./src/assets/img/icones/quotes.svg);
    position: absolute;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    left: 16px;
    top: 13px;

  }
}
