/**** HEADER ***/

  section.body-content_header{
  @include backgroundImg(header, jpg, no-repeat, cover);
  height: 90vh;
  background-position: top, center;


    .header-logo_img {
      max-width: 570px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      display: inline-block;
    }

    &::before{
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      opacity:0.5;
      background-image: linear-gradient(to right, #2f3c4d, #2c2c3a, #241f26, #171216, #000000);
    }


    .scroll-link{
      position: absolute;
      bottom: 45px;
      left: 49%;
      cursor: pointer;

        .scroll {
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform;
      }
    }

  }

  /**** SECTION 1 ***/

.section-1 {
  .container {
    margin-top: 100px;

  .section-1_content{
    margin-top: 38px;

    @include lg{
      margin-top: 30px;
    }

    > h2, h3, a{
      @include translate(-90px, 0);
      @include md {
       @include translate(0, 0);
      }
    }

  }
  }
}



/***** SECTION 3 ****/


.section-3 .section-3_img{
  position: relative;
  .section-3_img_content{
    position: relative;
    display: inline-block;

      &::after{
        content:'';
        @include losange(none, 210px, 5px, $blue);
        top: 47px;
        right: -5px;
        z-index: -1;
        position: absolute;

        @include sm{
          content: none;
        }
      }

      &::before{
        content:'';
        @include losange(none, 130px, 5px, $or);
        top: 195px;
        position: absolute;
        left: 26px;

        @include lg{
          top: 132px;
        }
      }

  }
  img{
    max-width: 100%;
  }
}
