.section-1_website{
  display: inline-block;
  position: relative;

.section-1_website_img{
    float: right;
    right:0;
    width: 50%;
    overflow: hidden;
    @include backgroundImg(header, jpg, no-repeat, cover);
    position: absolute;
    top: 0;
    bottom: 0;
    @include lg{
      display: none;
    }

    &::before{
      content:'';
      @include semi-losange-l(300px, $or);
      top: -37px;
      right: 0px;
      position: absolute;
      opacity: 0.3;
    }

    &:after{
        content:'';
        @include losange($blue, 130px, 5px, transparent);
        top: -37px;
        right: 0px;
        position: absolute;
        opacity: 0.3;
    }
  }
  .section-1_website_content{
    padding: 80px 70px;
    float: left;
    left: 0;
    width: 50%;
    @include lg{
      width: 100%;
      float: none;
    }
  }

}





.section-2_crm{
  display: inline-block;
  position: relative;

.section-2_crm_img{
    float: left;
    width: 50%;
    overflow: hidden;
    @include backgroundImg(header, jpg, no-repeat, cover);
    position: absolute;
    top: 0;
    bottom: 0;
    @include lg{
      display: none;
    }

    &::before{
      content:'';
      @include semi-losange-l(300px, $or);
      top: -37px;
      right: 0px;
      position: absolute;
      opacity: 0.3;
    }

    &:after{
        content:'';
        @include losange($blue, 130px, 5px, transparent);
        top: -37px;
        right: 0px;
        position: absolute;
        opacity: 0.3;
    }
  }
  .section-2_crm_content{
    padding: 80px 70px;
    float: right;
    width: 50%;
    @include lg{
      width: 100%;
      float: none;
    }
  }

}







.section-3_erp{
  display: inline-block;
  position: relative;

.section-3_erp_img{
    float: right;
    right:0;
    width: 50%;
    overflow: hidden;
    @include backgroundImg(header, jpg, no-repeat, cover);
    position: absolute;
    top: 0;
    bottom: 0;
    @include lg{
      display: none;
    }

    &::before{
      content:'';
      @include semi-losange-l(300px, $or);
      top: -37px;
      right: 0px;
      position: absolute;
      opacity: 0.3;
    }

    &:after{
        content:'';
        @include losange($blue, 130px, 5px, transparent);
        top: -37px;
        right: 0px;
        position: absolute;
        opacity: 0.3;
    }
  }
  .section-3_erp_content{
    padding: 80px 70px;
    float: left;
    left: 0;
    width: 50%;
    @include lg{
      width: 100%;
      float: none;
    }
  }

}






.section-4_crea{
  display: inline-block;
  position: relative;

.section-4_crea_img{
    float: left;
    width: 50%;
    overflow: hidden;
    @include backgroundImg(header, jpg, no-repeat, cover);
    position: absolute;
    top: 0;
    bottom: 0;
    @include lg{
      display: none;
    }

    &::before{
      content:'';
      @include semi-losange-l(300px, $or);
      top: -37px;
      right: 0px;
      position: absolute;
      opacity: 0.3;
    }

    &:after{
        content:'';
        @include losange($blue, 130px, 5px, transparent);
        top: -37px;
        right: 0px;
        position: absolute;
        opacity: 0.3;
    }
  }
  .section-4_crea_content{
    padding: 80px 70px;
    float: right;
    width: 50%;
    @include lg{
      width: 100%;
      float: none;
    }
  }

}
