@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1196px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 20px;
  padding-right: 20px;
}
