.sub-footer{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color:$blue;
  background: $white;

  p{
    text-align: center;
  }

  a::before{
    content:'';
    background-image: none;
  }
}

footer.main-footer{
  .logo{
    max-width: 190px;
  }

  @include sm{
    text-align: center;
  }

.footer_adress{
  img{
      max-width: 25px;
      display: inline-block;
      float: left;
      margin-right: 20px;
      @include sm {
        float: none;
        margin: 0;
      }
  }
}

.footer_sitemap li{
      margin: 10px 0;
}


.footer_sn {
  a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    &::before{
      content:"";
      @include losange(none, 40px , 1px , $or);
      display: block;
      position: absolute;
      left: 9px;
      top:8px;
      opacity: 0;
      @include transition(0.5s, ease-out);
    }
    &:hover{
      &::before{
        opacity: 1;
        left: 4px;
        @include transition(0.5s, ease-out);
      }
      img{
            transform: translateX(6px);
      }
    }
  }

    img{
      @include transition(0.5s, ease-out);
    }
  }

}



/*height: 40px;
position: absolute;
left: 0;
background: none;
border: 1px solid #fff;
-ms-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
display: block;
width: 40px;
transform: rotate(45deg) translate(-21px, -30px);*/
