* {
    box-sizing: border-box;
}

section {
  position: relative;
  z-index: 0;
}

/*** container ***/

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 30px;
  padding-right: 30px;

&:not(.header){
  @include sm{
    padding:0px;
  }
}

}

/*** sections ***/

section{
  position: relative;
}
section.body-content {margin-top: 50px;}
