* {
    box-sizing: border-box;
}


/*** container ***/

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 30px;
  padding-right: 30px;
}

/*** sections ***/

section{
  position: relative;
}
section.body-content {margin-top: 73px;}
