header{
position:fixed;
background:$white;
width:100%;
padding: 20px 0px;
top:0;
z-index: 1;


  .header-logo{
    display: inline-block;
    float: left;
  }

  .header-nav {
    display: inline-block;
    float: right;
  }
}


/**** Landing page ***/

.body-content_landing-header {
  @include backgroundImg(header, jpg, no-repeat, cover);
  height: 35vh;
  background-position: top, center;


    .landing-hedare_content{
      position: relative;
      display: inline-block;


  h1{
    font-size: 34px;
    position: relative;
    text-transform: uppercase;
    @include font(300);
    }
  }
}
