.header-nav{
  position: relative;
  .button_container {
    position: absolute;
    right:0;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    background: none;
    border:none;
    opacity:0.5;


    &:hover {
      opacity: 1;
    }

    &:focus{
      opacity: 1;
      outline:none;
    }

    &.active {
      border:none;

      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
      }
      .middle {
        opacity: 0;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
      }
    }



    span {
    background: $grey;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }


  .main-nav{
    float: right;
    margin: 2px 90px;
    transform-origin: 100% 50%;
    @include xl{
      @include transition(0.3s, ease);
      transform: scale(0);
    }

    @include lg{
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1;
      left: 0;
      right: 0;
      background: #fff;
      margin: 0;
      float: none;
      text-align: center;
      @include transition(0.35s, ease-out) ;
      transform-origin: 100% 0%;
      transform: scale(0);
      opacity: 0;
    }

    ul:not(.sub-menu){
      @include lg{
        position: relative;
        top: 50%;
        transform:translateY(-50%);

      }

        li{
          display: inline-block;
          margin: 0 18px;
          @include lg{
            margin: 30px;
            display: block;
          }
        }

      }



    a

    {
      @include lg{
        font-weight: 100;
        font-size: 20px;
      }

      &.current{

          color: $or;
          &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 1px;
            background: $or;
            opacity: 1;
            @include transition(0.35s, ease-out);

          }
        }
    }

      .link-service{

        > a{
          @include xl{
              cursor: default;
          }
        }
        &:hover, &:focus-within{
          @include xl{
            .sub-menu{
              opacity: 1;
              transform: scale(1) translate(0, 5px);
            }
          }
        }
      }


    .sub-menu{
      z-index: 1;
      background: $white;
      padding: 10px 32px;

      @include lg{
        margin-top: 20px;
        box-shadow: none;
        background: $light-grey;

      }

     li{
       padding: 10px 0;
     }

      @include xl{
        position: absolute;
        opacity: 0;
        @include transition(0.5s, ease);
        transform-origin: 2% 3%;
        transform: scale(0) translate(0, 15px);
      }

      @include lg{
        position: relative;
        li{
          display: block;
        }
      }
    }

      &.open-nav{
          transform: scale(1);
          @include lg{
            opacity: 1;
      }
    }


  }

}


/*.main-nav{
  float: right;
  margin: 2px 90px;
  @include transition(0.3s, ease);
  transform-origin: 100% 50%;
  transform: scale(0);

  ul li{
    display: inline-block;
    margin: 0 18px;

    a{
      font-size: 16px;
      font-weight: 100;
      position: relative;
      padding-bottom: 5px;
      @include transition(0.5s, ease-out);


      &.current{
        color: $or;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 1px;
          background: $or;
          opacity: 1;
          @include transition(0.35s, ease-out);
        }
      }
    }

    .sub-menu{
      z-index: 1;
      position: absolute;
      background: $white;
      padding: 10px 32px;
      opacity: 0;
      @include transition(0.5s, ease);
      transform-origin: 2% 3%;
      transform: scale(0) translate(0, 15px);

      li{
        display: block;
        line-height: 2;
        margin: 10px 0;
      }

      &::before{
        content: "";
        background: $or;
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        top: 0;
        @include transition(0.5s, ease);
      }
    }

    @include xl{
      &.link-service:hover{
        a{cursor: default;}
        > .sub-menu{
          transform: scale(1);
          opacity: 1;

          &::before{
            width: 100%;
          }
          &
          a{cursor: pointer;}
        }
      }
    }
  }

  &.open-nav{
      transform: scale(1);
}


  @include lg{
      @include transition(0.35s, ease-out) ;
      transform-origin: 100% 0%;
      background: $white;
      padding: 30px 34px;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      z-index:1;
      margin: 0;
      @include transition(0.35s, ease-out) ;
      transform-origin: 100% 0%;
      transform: scale(0);
      opacity: 0;



      ul{
          display: inline-block;
          position: relative;
          height: 100%;
          margin: 55px auto;

        li {
            display: block;
            position: relative;
            margin: 30px;

            a{
              font-size: 20px;
            }

            .sub-menu{
              display: block;
              box-shadow: none;
              background:#fbfbfb;
              margin: 0;

            }

          }
        }

      &.open-nav{
          transform: scale(1);
          opacity: 1;
      }

    }
  }

  @include lg{
    margin: 0 10px;
  }

}*/
