@font-face {
  font-family: 'open-san';
  src: url('./src/assets/fonts/OpenSans-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'open-san';
  src: url('./src/assets/fonts/OpenSans-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'open-san';
  src: url('./src/assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'open-san';
  src: url('./src/assets/fonts/OpenSans-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
