/**** COLOR ****/
$black: #000;
$white: #fff;
$blue:#2F3C4D;
$or:#EDC88C;
$light-grey:#FBFBFB;
$grey:#4f5051;

body{
  margin:0 auto;
  @include font(300);
  font-size: 14px;
}


ul {
  margin: 0;
  padding: 0;
  li{
  list-style-type: none;
  }
}

a.more{
  font-size: 14px;
  @include font(300);
  text-decoration: none;
  color:$blue;
  position: relative;
  color:$blue;

  &::before{
    content:'';
    background-image: url(./src/assets/img/icones/icone-arrow.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: -33px;
    top: 4px;
    transition: 0.5s;

  }

 &.txt-white::before{
    content:'';
    background-image: url(./src/assets/img/icones/icone-arrow-white.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: -33px;
    top: 4px;
  }

  &:hover:before{
    @include translate(10px, 0);
  }
}


a.link{
  font-size: 14px;
  @include font(300);
  text-decoration: none;
  color:$blue;
  position: relative;
  color:$blue;

  &:hover:after,
   &:focus:after,
   &:active:after {
     width: 100%;
   }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 1px;
    background: $or;
    transition: .35s;
  }

  &.txt-white{
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      transform: translateX(-50%);
      height: 1px;
      background: $white;
      transition: .35s;
    }

    &:hover:after,
     &:focus:after,
     &:active:after {
       width: 100%;
     }
  }
}




p{
  color:$grey;
  font-size: 14px;

  &.summary{
    margin: 20px 0;
  }
}


.txt-justify{
    text-align: justify;
  }

  .txt-right{
    text-align: right;
  }

  .txt-left{
    text-align: left;
  }

.txt-center{
   text-align: center;
  }


.txt-white {
  color: $white!important;
}
.spad {
  padding: 120px 0;
}

/** background **/

.bg-blue{
  background: $blue;
  z-index: 0;
}

.bg-grey{
  background-color: $light-grey;
  z-index: 0;
}

.overlay{
  &::before{
    content: '';
    @include overlay($blue, 0.9);
  }
}

.unscroll{
  overflow: hidden;
}
