/*** font ***/

@mixin font($name,$weight){
  font-family: $name;
  font-weight: $weight;
}

/*** losange ***/

@mixin losange($color, $width,$border,$borderColor,$radius, $test:translate(0,0)){
    height: $width;
    width: $width;
    background: $color;
    border: $border solid $borderColor;
    border-radius: $radius;
    -ms-transform: rotate(45deg) $test; /* Internet Explorer */
    -moz-transform: rotate(45deg) $test; /* Firefox */
    -webkit-transform: rotate(45deg) $test; /* Safari et Chrome */
    -o-transform: rotate(45deg) $test; /* Opera */
    transform: rotate(45deg) $test; /* Opera */
    display: inline-block;
}


/**** semi losange ***/

@mixin semi-losange-r ($width,$radius,$color) {
  width: 0;
  height: 0;
  border-radius: $radius;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  border-left: $width solid $color;
}

@mixin semi-losange-l ($width,$radius,$color) {
  width: 0;
  height: 0;
  border-radius: $radius;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  border-right: $width solid $color;
}

/***** background image ***/

@mixin backgroundImg($name,$ext, $repeat, $size){
  $url:"./src/assets/img/#{$name}.#{$ext}";
  background-image:url($url);
  background-repeat: $repeat;
  background-size:$size;
}

/*** Overlay ***/

@mixin overlay($color,$opacity){
  background: $color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:$opacity;
}

/**** translate ***/

@mixin translate($x, $y){

  -ms-transform: translate($x, $y); /* Internet Explorer */
  -moz-transform: translate($x, $y); /* Firefox */
  -webkit-transform: translate($x, $y); /* Safari et Chrome */
  -o-transform: translate($x, $y); /* Opera */
  transform: translate($x, $y); /* Opera */
}

/**** Transition hover ***/

@mixin transition($time, $type){
  transition:$time $type;
  ms-transition: $time $type; /* Internet Explorer */
  -moz-transition: $time $type; /* Firefox */
  -webkit-transition: $time $type; /* Safari et Chrome */
  -o-transition: $time $type; /* Opera */
}


/**** MEDIA QUERIES ****/


@mixin sm {
   @media (max-width: 576px) {
       @content;
   }
}


@mixin md {
   @media (max-width: 768px) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: 992px) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: 1200px) {
       @content;
   }
}
